<h1>Edit Photo</h1>

<%= form_for @photo, url: child_gallery_photo_path(@child.id, @gallery.id) do |f| %>

	<div class="input-field">
		<p><span class="profile-label">Photo Name</span><%= f.text_field :photo_name, placeholder: "Photo Name", class: 'value' %></p>
	</div>

	<div class="input-field">
		<p><span class="profile-label">Photo Description</span><%= f.text_area :photo_description, placeholder: "Photo Description", class: 'value' %></p>
	</div>

	<p><%= link_to 'Cancel', :back, class: 'button' %></p>
	<p><%= f.submit "Save", class: 'button submit-button' %></p>

<% end %>
