<h1>Select New Photo</h1>

<%= form_for ([@user, @child, @gallery, @photo]) do |f| %>
  <div class="container-gray">
    <div class="input-field">
      <%= f.file_field :image %>
    </div>
    <div class="input-field">
      <%= f.text_field :photo_name, placeholder: "Photo Name" %>
    </div>
    <div class="input-field">
      <%= f.text_field :photo_description, placeholder: "Photo Description" %>
    </div>
    <p><%= link_to 'Cancel', user_galleries_path, class: 'button' %></p>
    <%= f.submit "Add Photo", class: "button submit-button" %>
  </div>
<% end %>
