<h1>Galleries for <%= @child.child_name %></h1>
<h3>Add a new gallery, or select one below</h3>

<ul>
	<% @galleries.each do |g| %>
    <li><%= link_to g.gallery_name, user_child_gallery_path(@user, @child.id, g.id) %> <%= link_to 'Edit', edit_user_child_gallery_path(@user, @child.id, g.id), class: 'button delete-button' %> <%= link_to 'Delete', user_child_gallery_path(@user, @child, g.id), method: :delete, class: 'button delete-button', data: { confirm: 'Are you sure you want to delete this gallery?' } %></li>
  <% end %>
</ul>

<p><%= link_to 'Add Gallery', new_user_child_gallery_path(@user, @child), class: 'button' %></p>
