<!DOCTYPE html>
<html>
  <head>
    <title>FridgeArt</title>
    <%= csrf_meta_tags %>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- Start Flash Errors -->
  <% if flash[:error] %>
    <div class="container small-container">
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
    </div>
  <% end %>

  <% if flash[:success] %>
    <div class="container small-container">
      <div class="alert alert-success">
        <%= flash[:success] %>
      </div>
    </div>
  <% end %><!-- End Flash Errors -->

    <%= yield %>

    <!-- Bootstrap Minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
